@import 'colors';

* {
    font-weight: bold;
}

window.background {
    background-color: rgba(0, 0, 0, 0);
}

.bar-bg {
    background-color: transparent;
    min-height: 32px;
}

.b-icl, .b-icr {
    background: rgba(255,0,0,0);
    min-width: 18px;
    min-height: 18px;
}

.b-icl {
    border-top-left-radius: 18px;
    box-shadow: -8px -3px 0px 0px $background;
}

.b-icr {
    border-top-right-radius: 18px;
    box-shadow: 8px -3px 0px 0px $background;
}

// LEFT

.box-left {
    padding: 0 12px;
    background-color: $background;

    label {
        color: $primary;
        &.active {
            color: $accent;
        }
    }

    .eb-activewin {
        label {
            color: unset;
        }
    }

    border-bottom-right-radius: 18px;
}

.workspaces {
    label {
        min-width: 1rem;
        min-height: 1rem;
        color: unset;
    }
}

// CENTER

.box-center {
    padding: 6px 16px;
    background-color: $background;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

// RIGHT

.box-right {
    background-color: $background;
    padding: 0 8px;
    border-bottom-left-radius: 18px;
}

.box-infos {
    border-radius: 8px;
    background: none;
    transition: background 0.3s;
}

.box-tray {
    border-radius: 8px;
    background: none;
    transition: background 0.3s;
}

.btn-systrayitem {
    margin: 0;
    padding: 4px 4px;
    background: none;
    border: none;
    text-shadow: none;
}
