@use 'bar';
@use 'panel';

@import 'colors';

* {
    font-weight: bold;
}

.bg {
    background-color: $background;
}

.monitor-workspace-main {
    background-color: red;
}

.workspace-container {
    background-color: blue;
    min-width: 128px;
    min-height: 72px;
}
