@import 'colors';

.panel-window {
    margin-top: 30px;
}

.panel-revealer {
    margin-left: 100px;
}

.panel-bg {
    background: none;
}

.panel-main {
    background-color: $background;
    border: solid 1px $backgroundl;
    border-radius: 10px;
}

.box-panel-commsInfo, .box-panel-sys {
    padding: 10px;
}

.notification {
    background-color: $background;
    border: solid 1px $backgroundl;
    padding: 10px;
    border-radius: 10px;

    *.notification-title {
        font-weight: bold;
    }

    *.notification-body {
        font-weight: normal;
    }
}
